.super-big{
    /* background: lightgray; */
    width: 100%;
    height: 500px;
    background-image: url(https://scontent.fsgn2-6.fna.fbcdn.net/v/t31.18172-8/21122684_929587730512584_7226558315078044442_o.jpg?_nc_cat=106&ccb=1-3&_nc_sid=19026a&_nc_ohc=is9lP1WtB-wAX-LRfH2&_nc_ht=scontent.fsgn2-6.fna&oh=ebe9c0343b1f5004e8a9d6a7f553aff6&oe=60CDED2E); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper{
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    /* border: 3px solid; */
    height: 200px;
    padding: 20px;
    background:rgba(0,0,0,0.6);
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.wrapper .search-input{
    /* border: 3px solid salmon; */
    position: relative;
    /* position: absolute; */
    /* width: 50%; */
    /* height: 50%; */
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: brown;
    cursor: pointer; 
    padding: 0;
    border: none;
    background: none;
}

.search-input .autocom-box{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    /* border: 2px solid black; */
    background: white;
    width: inherit;
    border-radius: 5px;
    margin-top: 5px;

}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    /* position: absolute; */
    /* z-index: 999; */
}

.search-input.active .autocom-box li{
    display: block;
    /* position: absolute; */
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.autocom-box li:hover{
    background: #efefef;
}





    /* z-index: 50; */
    /* position: absolute; */
    /* width: 50%; */
    /* height: 50%; */
.option-menu {
    /* border: 3px solid pink; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12); */
    height: 55px;
    padding: 10px;
}

.khu-vuc select{
    border-radius: 5px;
}
.khu-vuc select option, .loai-nha select option{
    color: black;
}
.khu-vuc select option:hover, .loai-nha select option:hover{
    background-color: rgb(132, 179, 233);
}
.khu-vuc, .loai-nha{
    /* float:left; */
    width: 20%;
    margin: auto;
    border: 1px solid white;
    margin-left: 20px;
    border-radius: 5px;
}

.khu-vuc #site, .loai-nha #type{
    background:inherit;
    color: white;
    border-radius: 5px;
}


.gia, .dien-tich, .loai-nha {
    /* float:left; */
    width: 20%;
    margin: auto;
    margin-left: 40px;
}

/* .gia{
    float:center;
    width: 20%;
    margin: auto;
}
.dien-tich{
    float:center;
    width: 20%;
    margin: auto;
}
.loai-nha{
    float:right;
    width: 20%;
    margin: auto;
} */
.option-menu select {
    width: 100%;
    height: 40px;
}

.gia #giaList, .dien-tich #dtich{
    /* border: 3px solid rgb(89, 0, 255); */
    width: inherit;
    height: 40px;
    margin-top: 5px;
    padding: 5px;
    background: white;
    z-index: 50;
    position: absolute;
    border-radius: 5px;
}

.text1 {
    text-align: center;
    margin-top: 1px;
}

.gia input, .dien-tich input {
    width: 40%;
}

.option-menu button {
    width: 100%; 
    background:none;
    height: 40px;
    text-align: left;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

@media screen and (max-width:1315px){
    .wrapper{
        height: 220px;
    }
    .khu-vuc, .gia, .dien-tich, .loai-nha{
        width: 40%;
        margin: auto;
        margin-left: 30px;
        position: flex;
    }
    .gia, .dien-tich{
        margin-top: 15px;
    }
}

@media screen and (max-width:768px){
    /* .option-menu{
        flex-direction: column;
    } */

    .khu-vuc, .gia, .dien-tich, .loai-nha{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        position: flex;
    }


    .wrapper{
        height: 400px;
    }
}


