<div class="container">
    <div class="title">
        <h1>Hot News</h1>
    </div>
    <div class="column-card">
        <div class="card">
            <img src="public/img/b1.jpg"/>
            <div class="panel">
                <span class="date">1st</span>
                <p>
                    I enjoy turning complex problems into simple, beautiful and intuitive designs.
                </p>
                <span class="breaker"></span>
                <h3>
                    Ảnh xinh đẹp của Bách Khoa
                </h3>
                <a href="#!">More</i></a>
            </div>
        </div>
        <div class="card">
            <img src="public/img/b2.jpeg"/>
            <div class="panel">
                <span class="date">2nd</span>
                <p>
                    I enjoy turning complex problems into simple, beautiful and intuitive designs.
                </p>
                <span class="breaker"></span>
                <h3>
                    Ảnh xinh đẹp của Bách Khoa
                </h3>
                <a href="#!">More</i></a>
            </div>
        </div>
        <div class="card">
            <img src="public/img/b3.jpg"/>
            <div class="panel">
                <span class="date">3rd</span>
                <p>
                    I enjoy turning complex problems into simple, beautiful and intuitive designs.
                </p>
                <span class="breaker"></span>
                <h3>
                    Ảnh xinh đẹp của Bách Khoa
                </h3>
                <a href="#!">More</i></a>
            </div>
        </div>
        <div class="card">
            <img src="public/img/b1.jpg"/>
            <div class="panel">
                <span class="date">4th</span>
                <p>
                    I enjoy turning complex problems into simple, beautiful and intuitive designs.
                </p>
                <span class="breaker"></span>
                <h3>
                    Ảnh xinh đẹp của Bách Khoa
                </h3>
                <a href="#!">More</i></a>
            </div>
        </div>
        <div class="card">
            <img src="public/img/b2.jpeg"/>
            <div class="panel">
                <span class="date">5th</span>
                <p>
                    I enjoy turning complex problems into simple, beautiful and intuitive designs.
                </p>
                <span class="breaker"></span>
                <h3>
                    Ảnh xinh đẹp của Bách Khoa
                </h3>
                <a href="#!">More</i></a>
            </div>
        </div>
        <div class="card">
            <img src="public/img/b3.jpg"/>
            <div class="panel">
                <span class="date">6th</span>
                <p>
                    I enjoy turning complex problems into simple, beautiful and intuitive designs.
                </p>
                <span class="breaker"></span>
                <h3>
                    Ảnh xinh đẹp của Bách Khoa
                </h3>
                <a href="#!">More</i></a>
            </div>
        </div>

        <!-- <a href="#!" class="allbtn">Home</a> -->
    </div>
</div>